{% extends 'base.html.twig' %}

{% block title %}Le café{% endblock %}

{% block body %}
<div class="container d-flex flex-column align-items-center">
    <span class="d-flex align-items-center min-vh-100">
        <video class="rounded-circle" muted autoplay preload="auto" loop>
            <source src="{{ asset('build/images/sm-Coffee.mp4') }}" type="video/mp4" media="all and (max-width:768px)">
            <source src="{{ asset('build/images/Coffee.mp4') }}" type="video/mp4"/>
        </video>
    </span>
    <div class="container my-5 reveal">
        <div class="row my-5" id="carousel">
            <div class="col-12">
                <h3>Costa Rica</h3>
                <img src="{{ asset('build/images/coffee-costa-rica.jpg') }}" alt="image costa rica" style="height: 10rem;"/>
            </div>
            <div class="col-12">
                <h3>Ethiopie</h3>
                <img src="{{ asset('build/images/coffee-ethiopie.jpg') }}" alt="image ethiopie" style="height: 10rem;"/>
            </div>
            <div class="col-12">
                <h3>Nicaragua</h3>
                <img src="{{ asset('build/images/coffee-nicaragua.jpg') }}" alt="image nicaragua" style="height: 10rem;"/>
            </div>
            <div class="col-12">
                <h3>Brésil</h3>
                <img src="{{ asset('build/images/coffee-bresil.jpg') }}" alt="image brésil" style="height: 10rem;"/>
            </div>
            <div class="col-12">
                <h3>Kenya</h3>
                <img src="{{ asset('build/images/coffee-kenya.jpg') }}" alt="image kenya" style="height: 10rem;"/>
            </div>
            <div class="col-12">
                <h3>Colombie</h3>
                <img src="{{ asset('build/images/coffee-colombia.jpg') }}" alt="image colombie" style="height: 10rem;"/>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    $('#carousel').slick({
        autoplay: true,
        dots: false,
        infinite: true,
        arrows: true,
        slidesToShow: 5,
        slidesToScroll: 1,
        centerPadding: '20px',
        rows: 0,
        responsive: [
            {
                breakpoint: 992,
                settings: {
                    arrows: true,
                    centerPadding: '20px',
                    slidesToShow: 3
                }
            },
            {
                breakpoint: 768,
                settings: {
                    arrows: false,
                    centerPadding: '20px',
                    slidesToShow: 2
                }
            },
            {
                breakpoint: 480,
                settings: {
                    arrows: false,
                    centerPadding: '20px',
                    slidesToShow: 1
                }
            }
        ]
    });
</script>
<script type="text/javascript">
    const ratio = 0.5

    var options = {
        root: null,
        rootMargin: '0px',
        threshold: ratio
    }

    const handleIntersect = function(entries, observer) {
        console.log(entries);
        entries.forEach(entry => {
            //quand l'élément est visible
            if (entry.intersectionRatio > ratio) {
                entry.target.classList.add('reveal-visible');
                //désactiver l'observer pour ne pas répéter l'animation plusieurs fois
                observer.unobserve(entry.target)
            }
            /*si on souhaite relancer l'animation à chaque passage, on peut utiliser
            un else ici exécuter du code lorsque l'élément devient invisible*/
        })
    }

    var observer = new IntersectionObserver(handleIntersect, options);

    observer.observe(document.querySelector('.reveal'));

    //Si on souhaite utiliser la classe sur plusieurs élément
    /* document.querySelectorAll('.reveal').forEach(function (r) {
        observer.observe(r);
    )}  */
</script>
{% endblock %}