{% extends 'base.html.twig' %}

{% block title %}Tous les produits{% endblock %}

{% block body %}
    <main class="container d-flex flex-column align-items-center">
        <h1 class="text-center my-3">Nos produits</h1>

        {% for product in products %}
            {% if is_granted("ROLE_ADMIN") %}
                <div class="d-flex">
                    {{ include('product/_delete_form.html.twig') }}
                    <a class="ms-1 mt-2" href="{{ path('app_product_edit', {'id': product.id}) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil text-light" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </a>
                </div>
            {% endif %}
            <div class="card bg-dark border-1 border-rounded my-3" style="width: 18rem;">
                <h5 class="card-title text-center">{{ product.name }}</h5>
                <img src="{{ product.picture }}" class="card-img-top" alt="coffee picture">
                <div class="card-body">
                    <a href="{{ path('app_cart_add', {id: product.id})}}" class="btn btn-primary w-100 my-3">Ajouter au panier</a>
                    <div class="d-flex justify-content-between">
                        <span>{{ product.stock ? 'En stock' : 'Rupture' }}</span>
                        <span>{{ product.price|format_currency('EUR') }}</span>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Nous sommes désolé, aucun produit n'est actuellement disponible.</p>
        {% endfor %}

        {% if is_granted("ROLE_ADMIN") %}
            <a class="btn btn-primary bg-dark" href="{{ path('app_product_new') }}">Ajouter un produit</a>
        {% endif %}
    </main>
{% endblock %}
